<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.mapper.ArtiCategoryMapper">
  <resultMap id="BaseResultMap" type="artiCategory">
    <id column="CATG_ID" jdbcType="INTEGER" property="catgId" />
    <result column="CATG_NAME" jdbcType="VARCHAR" property="catgName" />
  </resultMap>
  <sql id="Base_Column_List">
    CATG_ID, CATG_NAME
  </sql>
  <select id="selectAllCategory" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ARTI_CATEGORY
  </select>
</mapper>