<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.mapper.ArtiCategoryMapper">
    <resultMap id="baseResultMap" type="artiCategory">
        <id column="CATG_ID" jdbcType="INTEGER" property="catgId"/>
        <result column="CATG_NAME" jdbcType="VARCHAR" property="catgName"/>
        <result column="CATG_TIME" jdbcType="TIMESTAMP" property="catgTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    CATG_ID, CATG_NAME,CATG_TIME
  </sql>
    <select id="selectAllCategory" resultMap="baseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ARTI_CATEGORY
    </select>

    <!-- 根据类别名称，日期查询 -->
    <sql id="where_selective">
        <where>
            <if
                    test="queryObject.catgName !=null and queryObject.catgName.trim().length>0">
                <bind name="pattern2" value="'%'+ queryObject.catgName+'%'"/>
                and CATG_NAME like #{pattern2}
            </if>
            <if
                    test="queryObject.beginDate !=null and queryObject.beginDate.trim().length>0">
                <![CDATA[and CATG_TIME>=to_timestamp(#{queryObject.beginDate},'yyyy-MM-dd hh24:mi:ss')]]>
            </if>
            <if
                    test="queryObject.endDate !=null and queryObject.endDate.trim().length>0">
                <![CDATA[and CATG_TIME<=to_timestamp(#{queryObject.endDate},'yyyy-MM-dd hh24:mi:ss')]]>
            </if>
        </where>
    </sql>

    <select id="selectSelective" parameterType="page" resultMap="baseResultMap">
        select * from (
        select a.*,rownum rn from (
        select o.*
        from arti_category o
        <include refid="where_selective"/>
        ORDER BY CATG_TIME DESC
        ) a where <![CDATA[rownum<=#{lastIndex}]]>
        ) where rn>=#{firstIndex}
    </select>
    <!-- 根据服务搜索信息查找服务信息记录数 -->
    <select id="countForSelective" parameterType="page" resultType="int">
        select count(o.CATG_ID) from arti_category o
        <include refid="where_selective"/>
        ORDER BY CATG_TIME DESC
    </select>

    <insert id="addArtiCategory" parameterType="artiCategory">
    insert into ARTI_CATEGORY
    (CATG_ID, CATG_NAME,CATG_TIME)
    values
    (ARTI_CATEGORY_SEQ.nextval,#{catgName,jdbcType=VARCHAR},sysdate)
  </insert>

    <!--根据id删除类别，对应的文章类别id也没了-->
    <delete id="deleteArtiCategoryById" parameterType="artiCategory">
    delete
    ARTI_CATEGORY
    where CATG_ID=#{catgId}
  </delete>

    <!--根据id更新类别--><!--日期未修改-->
    <update id="updateArtiCategoryById" parameterType="artiCategory">
        update ARTI_CATEGORY
        <trim prefix="SET" suffixOverrides=",">
            <if test="catgName != null">CATG_NAME=#{catgName},</if>
            <if test="catgTime != null">CATG_TIME=sysdate,</if>
        </trim>
        where CATG_ID=#{catgId}
    </update>

    <!-- 根据类别id统计文章记录数 -->
    <select id="countArticleNum" parameterType="int" resultType="int">
        select count(a.ARTI_ID) from ARTICLE a
        WHERE a.ARTI_CATG_ID = #{catgId}
    </select>
</mapper>