<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.mapper.ReplyMapper">
    <insert id="insertReply" parameterType="reply">
        insert into REPLY (REPLY_ID, REPLY_COMT_ID, REPLY_CONTENT,
        REPLY_TIME)
        values (REPLY_SEQ.nextval, #{replyComtId,jdbcType=INTEGER}, #{replyContent,jdbcType=VARCHAR}, sysdate)
    </insert>
</mapper>