<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.mapper.ReplyMapper">
    <resultMap id="baseResultMap" type="com.blog.vo.Reply">
        <id column="REPLY_ID" jdbcType="INTEGER" property="replyId"/>
        <result column="REPLY_COMT_ID" jdbcType="INTEGER" property="replyComtId"/>
        <result column="REPLY_USER_ID" jdbcType="INTEGER" property="replyUserId"/>
        <result column="REPLY_CONTENT" jdbcType="VARCHAR" property="replyContent"/>
        <result column="REPLY_TIME" jdbcType="TIMESTAMP" property="replyTime"/>
    </resultMap>
    <insert id="insertReply" parameterType="reply">
        insert into REPLY (REPLY_ID, REPLY_COMT_ID,REPLY_USER_ID,REPLY_CONTENT,REPLY_TIME)
        values (REPLY_SEQ.nextval, #{replyComtId,jdbcType=INTEGER},#{replyUserId,jdbcType=INTEGER},
         #{replyContent,jdbcType=VARCHAR}, sysdate)
    </insert>
    <!--根据评论id查询该评论的回复条数-->
    <select id="countForComment" parameterType="reply" resultType="int">
        select COUNT (reply_comt_id) from reply where reply_comt_id = #{replyComtId}
    </select>
    <!--根据回复评论的id更新,把他的评论id为第一条id-->
    <update id="updateReplyById" parameterType="reply">
        update REPLY
        <trim prefix="SET" suffixOverrides=",">REPLY_COMT_ID=#{replyId,jdbcType=INTEGER},
        </trim>
        where REPLY_COMT_ID=#{replyComtId}
    </update>
    <!--根据id更新回复内容-->
    <update id="updateReplyContentById" parameterType="reply">
        update REPLY
        <trim prefix="SET" suffixOverrides=",">
            <if test="replyContent != null">REPLY_CONTENT=#{replyContent},</if>
            <if test="replyTime != null">REPLY_TIME=sysdate,</if>
        </trim>
        where REPLY_ID=#{replyId}
    </update>
    <delete id="deleteReplyById" parameterType="reply">
        delete
        REPLY
        where REPLY_ID =#{replyId}
    </delete>
</mapper>